DATABASE_URL="postgresql://postgres:postgres@localhost:55432/react_flow_2"
BETTER_AUTH_SECRET="tcUpuv0hsYEy9VwE25sJlIbpNz8AVllXQWJ42pG6fIc="
ADMIN_EMAILS="admin@example.com"
BETTER_AUTH_URL="http://localhost:3000/api/auth"
CORS_ORIGIN="http://localhost:3001"